- $root = ""
- $title = ""
- $description = "敘述..."
- $ogTitle = ""
- $ogDescription = ""
- $ogFolder = "assets/images/"
- $ogimg = "fbshare.png"
- $ogURL = ""
- $v = 'v=1'
block vars

doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
    //- meta(name="viewport", content="width=1240")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title
      = $title
    meta(name="description", content=$description)
    meta(property="og:title", content=$ogTitle)
    meta(property="og:type", content="website")
    meta(property="og:description", content=$ogDescription)
    meta(property="og:image", content=$root+$ogFolder+$ogimg)
    link(rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanstc.css" media='none' onload='if(media!="all")media="all"')
    //- link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    //- link(rel='apple-touch-icon', sizes='57x57', href='assets/favicon/apple-icon-57x57.png')
    //- link(rel='apple-touch-icon', sizes='60x60', href='assets/favicon/apple-icon-60x60.png')
    //- link(rel='apple-touch-icon', sizes='72x72', href='assets/favicon/apple-icon-72x72.png')
    //- link(rel='apple-touch-icon', sizes='76x76', href='assets/favicon/apple-icon-76x76.png')
    //- link(rel='apple-touch-icon', sizes='114x114', href='assets/favicon/apple-icon-114x114.png')
    //- link(rel='apple-touch-icon', sizes='120x120', href='assets/favicon/apple-icon-120x120.png')
    //- link(rel='apple-touch-icon', sizes='144x144', href='assets/favicon/apple-icon-144x144.png')
    //- link(rel='apple-touch-icon', sizes='152x152', href='assets/favicon/apple-icon-152x152.png')
    //- link(rel='apple-touch-icon', sizes='180x180', href='assets/favicon/apple-icon-180x180.png')
    //- link(rel='icon', type='image/png', sizes='192x192', href='assets/favicon/android-icon-192x192.png')
    //- link(rel='icon', type='image/png', href='assets/favicon/favicon.ico')
    //- link(rel='icon', type='image/png', sizes='96x96', href='assets/favicon/favicon-96x96.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='manifest.json')
    //- meta(name='msapplication-TileImage', content='assets/favicon/ms-icon-144x144.png')
    //- meta(name='msapplication-TileColor', content='#ffffff')
    //- meta(name='theme-color', content='#ffffff')
    //- include loading
  body(id=$id)
    //- .preload
      
        
    //- script.
    //- 	window.fbAsyncInit = function () {
    //- 		FB.init({
    //- 				appId: '277144176398599',
    //- 				status: true,
    //- 				cookie: true,
    //- 				xfbml: true,
    //- 				oauth: true,
    //- 				version: 'v3.1',
    //- 				frictionlessRequests: true
    //- 		});
    //- 		FB.Event.subscribe('comment.create', function (response) {
    //- 			var pid = '<{$aryData.pID}>';
    //- 			var commentID = response.commentID;
    //- 			var comment = response.message;
    //- 			console.log(response);
    //- 			});
    //- 	};
    //- 	(function (d, s, id) {
    //- 			var js, fjs = d.getElementsByTagName(s)[0];
    //- 			if (d.getElementById(id)) return;
    //- 			js = d.createElement(s); js.id = id;
    //- 			js.src = "//connect.facebook.net/zh_tw/sdk.js";
    //- 			fjs.parentNode.insertBefore(js, fjs);
    //- 	}(document, 'script', 'facebook-jssdk'));
    #app
      block content
            
    if ga
      //- Global site tag (gtag.js) - Google Analytics
      script(async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXX-1")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-XXXXXXXX-1');
    //- script(data-pace-options={ "eventLag": false, "ajax": false, "elements": true, "restartOnPushState": false } src="assets/js/pace.min.js")
    //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrmorx1AmxtzBg0CvJm4kvidLrPvd57_c&amp;libraries=places&amp;callback=info.initFind" async defer)
    script(src="https://maps.googleapis.com/maps/api/js?amp;libraries=places&amp;" async defer)
    block location